*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #da291c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
    position: absolute;
    top: 12vh;
    left: 10%;
    width: 33%;
}

.content h1{
    font-size: 4rem;
    font-family: cursive;
}

hr{
    margin-top: 10px;
    width: 70%;
    height: 6px;
    background-color: rgb(236, 226, 226);
}

.content p {
    margin-top: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
button{
    margin-top: 60px;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 1px solid gray;
    outline: none;
    background-color: yellow;
    text-transform: uppercase;

}

img{
    margin-left: 8%;
    margin-top: 7%;
    width: 80%;
}